body {
    background-color: black;
    margin: 0;
}

h1 {
    text-align: center;
}

#main-title {
    width: 100%;
    height: 200px;
    position: relative;
    margin-left: 0;
}

#franchise-text {
    width: 100%;
    height: 100%;            
    position: absolute;
    bottom: 10px;
}

#franchise-1 {
    margin-bottom: 0%;
}

#franchise-2 {
    margin-top: 0%;
}

.star-wars {
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;
}

#light-speed {
    width: 100;
}

#main-title-gif {
    width: 100%;
    height: 200px;
}

/* Everything above is responsible to the title styling and gif */

h2, h3, h4, p, span {
    color: white;
}

h2, h3 {
    text-align: center;
}

h2 {
    border: 1px solid red;
    margin: 0;
    font-size: 30px;
}

h3 {
    margin: 10px;
    text-decoration: underline;
}

h4 {
    font-weight: bold;
    font-size: 35px;
    text-decoration: underline;
    margin-top: 0%;
    margin-bottom: 0%;
}

p {
    font-weight: bold;
    font-size: 30px;
    color: yellow;
}

#author {
    color: pink;
    font-size: 31px;
}

/* everything above is responsible for styling headings: h2, h3, and h4 */

#left-content {
    /* border: 1px solid blue; */
    width: 27%;
    float: left;
    font-size: 16px;
    display: block;
    overflow-y: auto;
    height: 100%;
    position: fixed;
}

a {
    color: yellow;
}

:hover {
    color: red;
}

/* Everything above is responsible for the left sided content */

#right-content {
    /* border: 1px solid red; */
    float: right;
    width: 73%;
}

.description-box {
    /* border: 1px solid pink; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

img {
    height: 100%;
    width: 100%;
}

.poster {
    width: 350px;
}

.title{
    width: 65%;
}

#SOURCES {
    text-align: center;
    border-top: 1px solid red;
}

ul {
    width: 100%;
    display: block;
    margin: 0%;
    padding: 0%;
    justify-content: space-around;
    font-size: 30px;
}

.resource-left .resource-right {
    margin: 0%;
}

.resource-left {
    width: 50%;
}

.resource-right {
    width: 50%;
}

h3#complete {
    text-decoration: none;
}

/* everything above messes with flex, borders, and movie poster sizes */

@media only screen and (max-width: 800px) {
    #left-content {
        width: 100%;
        float: top;
        display: block;
        height: 32%;
    }

    #right-content {
        width: 100%;
        float: bottom;
        margin-top: 267px;
        height: 50%;
        display: block;
    }

    .description-box {
        width: 100%;
        height: 250px;
    }

    h2 {
        font-size: 30px;
    }

    #films {
        background-color: black;
    }

    #franchise-1 {
        font-size: 69px;
        margin-top: 9%;
    }

    #franchise-2 {
        font-size: 69px;
    }

    .poster {
        width: 40%;
        height: 100%;
    }

    p {
        font-size: 11px;
    }

    h4 {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }

    .r-links {
        font-size: 10px;
    }

    ul {
        font-size: 21px;
    }
}